.intended, .intended ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

.intended li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}

.intended li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.intended li li {
    margin: 0;
}

.intended li li:before {
    content: counters(item, ".") " ";
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

